.ui-page.ui-body-c  {
//	background: url('img/wild_oliva.png') !important;
//	background: black;
//	background-color: black;
	padding: 0;
	margin: 0;
	overflow: hidden;
	

	
} 

html, body {
	height: 100%;
	min-height: 100%;
	overflow: hidden;
	-webkit-user-select: none;
}

//a {
//	-webkit-touch-callout: none !important; // pitäis estää longtap-menu ios-laitteilla, mutta ei tunne toimivan?
//}

body {
	margin: 0;
	padding: 0;
//	position: fixed;
//	max-width: 800px;
	width: 100%;
//	background: url('img/wild_oliva.png') !important;
//	background-color: black;
//	background: black;
	overflow: hidden;

	

}



#main {
	position: fixed;
	height: 100%;
}

.top {
	position: absolute;
	height: 44px;
	width: 100%;
	top: -1px;
	left: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
/*
	background: -moz-linear-gradient(top,  rgba(132,0,95,0.9) 0%, rgba(130,67,112,0.8) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(132,0,95,0.9)), color-stop(100%,rgba(130,67,112,0.8))); 
	background: -webkit-linear-gradient(top,  rgba(132,0,95,0.9) 0%,rgba(130,67,112,0.8) 100%);
	background: -o-linear-gradient(top,  rgba(132,0,95,0.9) 0%,rgba(130,67,112,0.8) 100%); 
	background: -ms-linear-gradient(top,  rgba(132,0,95,0.9) 0%,rgba(130,67,112,0.8) 100%); 
	background: linear-gradient(to bottom,  rgba(132,0,95,0.9) 0%,rgba(130,67,112,0.8) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e684005f', endColorstr='#cc824370',GradientType=0 );
*/
	background: -moz-linear-gradient(top,  rgba(0,89,178,0.9) 0%, rgba(14,103,186,0.7) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,89,178,0.9)), color-stop(100%,rgba(14,103,186,0.7))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,89,178,0.9) 0%,rgba(14,103,186,0.7) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,89,178,0.9) 0%,rgba(14,103,186,0.7) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,89,178,0.9) 0%,rgba(14,103,186,0.7) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,89,178,0.9) 0%,rgba(14,103,186,0.7) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e60059b2', endColorstr='#b30e67ba',GradientType=0 ); /* IE6-9 */
	
	text-align: center;
	z-index: 100;
}

.topAddedToHome {
	position: absolute;
	height: 44px;
	width: 100%;
	top: 22px !important;
	left: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
	background:red;
	background-color: red;
	
	text-align: center;
}

* .ui-input-text {
	border-radius: 2px;
	font-weight: 400;	
}

* .ui-btn {
	border-radius: 2px;
	font-weight: 400;
}

#peru {
//	margin: 0px !important;
//	padding-left: 2px !important;
//	padding-right: 2px !important;
	top: 2px !important;
//	height: 24px;
//	border-radius: 2px;
}

#asetukset {
	top: 2px;
}

.top .ui-btn-inner {

}

.dialogBtn {
//	margin: 0px !important;
//	padding-left: 2px !important;
//	padding-right: 2px !important;
	top: 0px !important;
//	height: 24px;
	height: 44px;
//	border-radius: 2px;
	background: transparent;
	border-color: transparent;
	box-shadow: none;
	padding: 0px;
	border: 0px;
	margin: 0px;
}

.dialogBtn .ui-btn-inner { margin-top: 6px; border: 0px }

.dialogBtn .ui-icon {
	background-color: rgba(0,0,0,0.0);
	box-shadow: none;
}

#calls {
	opacity: 0.9;
}

#options {
	opacity: 0.9;
}


.scroller {
	position: absolute;
	top: 0px;
	bottom: 96px;
//	width: 100%;
	padding-bottom: 15px;
	left: 0px;
	right: 0px;
	margin-top: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	margin-left: 0px;
	margin-right: 0px;
	z-index: 1;
}

.scrollerAddedToHome {
	top: 66px !important;
	
	position: absolute;
		bottom: 96px;
//	width: 100%;
	padding-bottom: 15px;
	left: 0px;
	right: 0px;
	margin-top: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	margin-left: 0px;
	margin-right: 0px;	
}

#foo {
	min-height: 100%;
}

#scoreBoard {
/*	border: 0px;
	border-width: 0px;
	border-style: solid;
	border-color: black; */
	border-collapse: collapse;
	width: 100%;
	max-width: 100%;
	padding: 0px;
	padding-top: 0px;
	margin-top: 0px;
	font-size: 13px;
}

.scoreCellCall {
	font-size: 80% !important;
	text-align: center !important;	
	width: 20%;
}

.scoreCell {
	border-width: 0px;
	border-style: solid;
	border-color: black;

	border-top-width: 1px;
	border-top-color: #ccc;
	border-top-style: solid;
	width: 20%;
}

.scoreCellGames {
	border-width: 0px;
	border-style: solid;
	border-color: black;

	border-top-width: 1px;
	border-top-color: #ccc;
	border-top-style: solid;
	width: 20%;
	text-align: center;
//	font-size: 75% !important;
}


.scoreCellOdd {
	border-width: 0px;
	border-style: solid;
	border-color: black;

	border-top-width: 1px;
	border-top-color: #ccc;
	border-top-style: solid;
	width: 20%;
	text-align: center;
	background-color: #eee;
	border-bottom-width: 1px !important;
	border-bottom-color: #ccc !important;
	border-bottom-style: solid !important;
}

.scoreCellLatest {
	border-width: 0px;
	border-style: solid;
	border-color: black;

	border-top-width: 1px;
	border-top-color: #ccc;
	border-top-style: solid;
    
    border-bottom-width: 1px !important;
    border-bottom-color: #ccc !important;
    border-bottom-style: solid !important;
	
/*	border-bottom-width: 1px;
	border-bottom-color: #ccc;
	border-bottom-style: dashed; */
	
	font-size: 130%;
	width: 20%;	
}


.scoreCellGameBall {
	border-width: 0px;
	border-style: solid;
	border-color: black;

	border-top-width: 1px;
	border-top-color: #ccc;
	border-top-style: solid;
	
	border-bottom-width: 1px;
	border-bottom-color: #afafaf;
	border-top-style: solid;
	
//	background-color: #C2E0FF;
	width: 20%;
	
background: rgb(252,234,187); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,234,187,1)), color-stop(50%,rgba(252,205,77,1)), color-stop(51%,rgba(248,181,0,1)), color-stop(100%,rgba(251,223,147,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */



}

.scoreCellGameOver {
	border-width: 0px;
	border-style: solid;
	border-color: black;

	border-top-width: 1px;
	border-top-color: #aaa;
	border-top-style: solid;

	border-bottom-width: 1px;
	border-bottom-color: #777;
	border-bottom-style: solid;
	
	font-size: 130%;
	width: 20%;
	
background: rgb(235,241,246); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(235,241,246,1) 0%, rgba(171,211,238,1) 50%, rgba(137,195,235,1) 51%, rgba(213,235,251,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,241,246,1)), color-stop(50%,rgba(171,211,238,1)), color-stop(51%,rgba(137,195,235,1)), color-stop(100%,rgba(213,235,251,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */


}

.sliderContainer {
	width: 50%;
	padding-left: 20px;
	padding-right: 20px;
}



.sliderW {
//	margin: auto;
	height: 2px;
	border: 1px;
	border-style: outset;
	border-color: #222;
	border-radius: 10px;
	background: silver;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0px;
//	width: 70%;
	padding-left: 10px;
	padding-right: 10px;
/*	margin-right: 0px;
	margin-left: 0px; */
	margin-top: 10px;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	
}


.slaidi {
//	margin: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	height: 8px;
//	padding: auto;
	padding: 0px !important;
/*	margin-left: 40px;
	margin-right: 40px; */
}

#slaidiDiv {
	width: 100%;
	height: 40px;
	position: absolute;
//	padding: 0px;
	padding-bottom: 10px !important;
	padding-top: 10px !important;
	padding-right: 0px;
	padding-left: 0px;
	bottom: 0px !important;
//	bottom: 0px;
	margin-bottom: 0px !important;
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;

}

.ui-slider .ui-slider-handle {
	width: 125px !important; 
	height: 76px !important; 
	outline: none;
	border-radius: 0px !important;
	border: 0px;
	background:url('handle_b.png');
//	background: blue;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-left: -60px !important;
	margin-top: -28px !important;
	margin-bottom: 0px !important;
}

.ui-slider .ui-slider-handle .ui-btn-inner {
	border: 0px;
	background: transparent;
	padding: 0px;
}

.ui-slider-track {
//	width: 33%;
	margin-left: 0px;
//	background: transparent;
	border:0px;
}
